body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,
td,img,div,dl,dt,dd,input{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-size: 12px;
}
img{
	border: normal;
}
ul,ol{
	list-style: none;
}
input,select,textarea{
	outline: none;
}
textarea{
	resize: none;
}
a{
	text-decoration: none;
}
/* 清除浮动 */
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom: 1;
}
/* 头部的小部分 */
.headerBox{
	background-color: #F5F5F5;
	height: 60px;
}
.logo{
	padding-top: 19px;
	width: 320px;
}
.searchBox{
	width: 320px;
	padding-top: 10px;
	position: relative;
}
.search_input{
	width: 216px;
	height: 14px;
	line-height: 14px;
	border: 2px solid #9f9f9f;
	border-right: none;
	padding: 11px 6px;
	font-size: 14px;
}
.search_btn{
	width: 90px;
	height: 40px;
	background: url(../images/search_btn.jpg) left top no-repeat;
}
/* 搜索交互 */
.search_hover{
	border-color: #3EABFF;
}
.search_show{
	display: none;
	width: 440px;
	border: 2px solid #3EABFF;
	padding: 2px 3px;
	position: absolute;
	left: 0;
	top: 48px;
	background-color: #fff;	
}
.search_list{
	width: 259px;
	font-size: 14px;
	border-top: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}
.search_list li{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #F3F3F3;
	padding: 0 8px 0 5px;
}
.search_list .active{
	background: #F3F3F3;
}
.search_list li a{
	float: left;
	color: #8F8F8F;
}
.search_list li span{
	float: right;
	font-size: 12px;
	color: #8F8F8F;
}
.imgShow{
	width: 172px;
	background: #F3F3F3;
	padding: 11px 0 11px 8px;
}
.imgShow dt{
	width: 70px;
	float: left;
}
.imgShow dt img{
	width: 70px;
	height: 105px;
	display: block;
}
.imgShow dd{
	width: 92px;
	float: right;
}
.imgShowTxt{
	height: 81px;
}
.imgShow dd h3{
	margin-bottom: 5px;
}
.imgShow dd h3 a{
	color: #000;
	font-size: 14px;
}
.imgShow dd p{
	color: #909090;
	line-height: 22px;
}
.imgShow_play{
	width: 53px;
	height: 24px;
	background: url(../images/search_play.png) left top no-repeat;
	display: inline-block;
}
/* 右侧的菜单 */
.menu li{
	float: left;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	position: relative;
}
.menuTxt{
	height: 24px;
	line-height: 24px;
	padding: 18px 12px;
	position: relative;
	z-index: 2;
	float: left;
}
.menuTxt span{
	 padding: 0 5px;
}
.menuTxt a{
	color: #535353;
	line-height: 20px;
}

.menuShow{
	width: 329px;
	border: 1px solid #DDDDDD;
	position: absolute;
	top: 60px;
	background: #fff;
	display: none;
}
.login_left{
	left: -48px;
}
.record_left{
	left: -163px;
}
.upload_left{
	right: 0;
}
.menu .active .menuShow{
	display: block;
}
.menu .active .menuTxt{
	background: #fff;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 18px 11px 19px 11px;
}
/* menu 里面的内容*/
.menuCont{
	padding: 22px 20px;
}
.menuCont_02{
	padding: 12px 20px;
}
.infoCenter{
	font-size: 14px;
	font-weight: normal;
}
.loginBox{
	padding-top: 17px;
	padding-bottom: 14px;
}
.loginBox a{
	width: 91px;
	height: 31px;
	float: left;
}
.login_btn{
	background: url(../images/login_btn.png) left center no-repeat;
	margin-right: 19px;
}
.reg_btn{
	background: url(../images/reg_btn.png) left center no-repeat;
}
.menu_line{
	border-top: 1px dashed #E4E4E4;
	height: 0;
	overflow: hidden;
	margin: 14px 0;
}
.userCont li{
	width: 105px;
	height: 20px;
	float: left;
	line-height: 20px;
	padding: 0 0 0 25px;
	margin: 3px 0;
}
/* 播放记录 */
.record_item{
	margin-bottom: 10px;
}
.record_title{
	height: 45px;
	
}
.record_title span{
	width: 75px;
	height: 24px;
	float: left;
	background: #9B9B9B;
	text-align: center;
	color: #fff;
}
.record_title a{
	float: right;
	color: #555;
}
.videoTitle{
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	position: relative;
}
.videoTitle a{
	color: #555;
	width: 262px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Verdana;
}
.del{
	display: none;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 0;
	top: 5px;
}
.rate{
	font-size: 12px;
	color: #BBBBBB;
	font-family: "宋体";
	padding-left: 21px;
	margin-bottom: 20px;
}
.rate span{
	float: left;
}
.rate a{
	color: #3399DF;
	float: right;
	display:none; 
}
.lookMore{
	text-align: center;
}
.lookMore a{
	color: #555;
}
.videoTitle a:hover,
.record_title a:hover,
.lookMore a:hover{
	color: #CB3311;
}
/* 交互 */
.record_active .del{
	display: block;
}
.record_active .rate a{
	display: block;
}
.record_active .videoTitle a{
	color: #CB3311;
}


/* icon部分 */
.icon,
.pc,
.del{
	background: url(../images/icon/icon_menu.png) 0 0 no-repeat;
}
.login{
	padding-left: 20px;
	background-position: 0 2px;
}
.record{
	background-position: 0 -18px;
	padding-left: 20px;
}
.upLoad{
	background-position: -1px -37px;
	padding-left: 20px;
} 
.collect{
	background-position: 0 -78px;
}
.zhuiju{
	background-position: 0 -57px;
}
.dingyue{
	background-position: 0 -98px;
}
.guanli{
	background-position: 0 -137px;
}
.kongjian{
	background-position: 0 -117px;
}
.vip{
	background-position: 0 -155px;
}
.pc{
	background-position: -2px -179px;
}
.del{
	background-position: -3px -199px;
}
.fenxiang{
	background-position: 0 -212px;
}

/* 导航 */
.navBox{
	height: 26px;
	border-bottom: 3px solid #E5E5E5;
}
.nav{
	font-size: 16px;
	font-family: "Microsoft Yahei";
	margin-right: -14px;
}
.nav li{
	float: left;
	margin-right: 21px;
	position: relative;
	white-space: nowrap;
}
.nav li a{
	color: #555;
	float: left;
}
.nav li span{
	padding: 0 5px;
	float: left;
}
.navMenu{
	float: left;
}
.navShow{
	display: none;
	position: absolute;
	right: -10px;
	top: 26px;
	border: 1px solid #ddd;
	background: #fff;
	padding: 15px 15px 0 15px;
}
.navMenu{
	position: relative;
	float: left;
	padding-right: 13px;
}
.triangle{
	position: absolute;
	right: 0;
	top: 9px;
	width: 8px;
	height: 4px;
	overflow: hidden;
	background: url(../images/icon/triangle.png) left center no-repeat;
}
.nav .active{
	color: #05A5DF;
	border-bottom: 3px solid #05A5DF;
	height: 26px;
	position: relative;
	margin-bottom: -3px;
}
.nav_list{
	text-align: center;
}
.nav .nav_list li{
	float: none;
	margin-right: 0;
	margin-bottom: 15px;
}
.nav .nav_list a{
	float: none;
}
/* 个人中心 */
.navRight{
	margin-right: 0;
	font-size: 14px;
	margin-left: 12px;
	display: inline;
}
/* 主题内容 */
.leftArea{
	width: 660px;
	_margin-right: -20px;
}
.ykAd{
	width: 310px;
}
.leftTop{
	height:240px;
}
.leftSmImg{
	width: 220px;
	padding-left: 20px;
}
.leftBottom .imgList{
	float: left;
	margin-right: 20px;
}
.leftImg img{
	width: 640px;
	height: 110px;
	display: block;
}
.ykArea{
	width: 200px;
	float: left;
	margin-right: 20px;
}
.ykMt{
	margin-bottom: 20px;
}
.ykAd_642{
	width: 642px;
	height: 110px;
	background: #ccc;
}
.rightArea{
	width: 310px;
}
.ykOriCont{
	padding-top: 20px;
	display:none;
}






/* 通用的大列表样式 */
.imgList_b{
	width: 420px;
	height: 240px;
	position: relative;
}
.imgItem img{
	width: 420px;
	height: 240px;
	display: block;
}
.imgItemTxt{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 56px;
	width: 410px;
	background: url(../iamges/imgBig_gradual.png) left bottom repeat-x;
	padding: 34px 5px 0 5px;
}
.play{
	width: 58px;
	height: 56px;
	background: url(../images/icon/play.png) left center no-repeat;
	position: relative;
	top: -14px;
}

.play a{
	width: 58px;
	height: 56px;
	display: inline-block;
}
.txt{
	font-family: "Microsoft Yahei";
	font-size: 16px;
}
.txt h3{
	line-height: 34px;
}
.txt a{
	color: #fff;
	font-weight: normal;
}
.txt p{
	font-family: "宋体";
	font-size: 12px;
}
.txt p span{
	margin-right: 9px;
}
.userName{
	color: #fff;
}

.userIcon{
	padding-left: 16px;
	background: url(../images/icon/userName.png) left center no-repeat;
}
.timesIcon{
	padding-left: 16px;
	background: url(../images/icon/times.png) left center no-repeat;
}
.discussIcon{
	padding-left: 16px;
	background: url(../images/icon/discuss.png) left center no-repeat;
}
.discuss,
.times{
	color: #B9B9B9;
}
.pl{
	padding-left: 70px;
}
.c1{
	color: #b9b9b9;
}
/* 小的通用部分 */
.imgList{
	width: 200px;
	height: 110px;
	position: relative;
}
.imgLine{
	background: url(../images/icon/line.png) center top no-repeat;
	padding-top: 4px;
	margin-top: -4px;
}
.smImg img{
	width: 200px;
	height: 110px;
	display: block;
}
.smTxtBox{
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/imgSm_bg.png) left bottom repeat-x;
}
.smTxt{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 5px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
}
.smTxt a{
	color: #fff;
}
.txt_l{
	padding-left: 5px;
}
.smTxt_r{
	text-align: right;
}
.txt_r{
	color: #DBDBDB;
	padding-right: 5px;
}
.shade_box{
	display: none;
}
.shade_box,
.shade_cont{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.shade_cont{
	background: url(../images/shade.png) left top no-repeat;
}
.shade{
	padding: 9px 3px;
}
.shade h3{
	font-family: "Microsoft Yahei";
	font-size: 14px;
	font-weight: normal;
}
.shade h3 a{
	color: #ECF2E6;
}
.shade p{
	line-height: 22px;
	color: #B8B7B3;
}
.shade_play{
	width: 57px;
	height: 25px;
	display: inline-block;
	background: url(../images/icon/shade_play.png) left top no-repeat;
}
/* 小列表带灰色部分的 */
.userLink{
	height: 60px;
	background: #f5f5f5;
	padding: 10px 5px;
}
.user_tit{
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 14px;
}
.user_tit a{
	color: #535353;
}
.userLink p{
	font-family: "宋体";
	font-size: 12px;
	color: #8d8d8d;
}
/* 带影视公司的部分 */
.company{
	line-height: 18px;
	height: 18px;
	position: relative;
	color: #8f8f8f;
	margin-top: -12px;
	margin-bottom: 10px;
}
.companyHead{
	position: absolute;
	left: 3px;
	top: -15px;
	width: 30px;
	height: 30px;
	border: 2px solid #f4f4f4;
}
.companyName{
	font-size: 12px;
	font-family: "宋体";
	padding-left: 40px;
}
/* 右侧很小的图片列表 */
.list_smImg{
	width: 310px;
	height: 50px;
	font-family: "Mircosoft Yahei";
}
.list_img{
	width: 90px;
	height: 50px;
	float: left;
}
.list_img img{
	width: 90px;
	height: 50px;
	display: block;
}
.list_txt{
	width: 210px;
	padding-left: 10px;
	float: left;
}
.list_txt p{
	font-family: "宋体";
	font-size: 12px;
	line-height: 22px;
	color: #8f8f8f;
}
.list_txt .user_tit{
	margin-bottom: 0;
}
/* 右侧排行部分 */
.item{
	display: none;
}
.tabs{
	width: 155px;
	font-family: "Mircosoft Yahei";
	font-size: 14px;
}
.tabs li{
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	vertical-align: top;
}
.tabs span{
	width: 20px;
	height: 20px;
	background: #02A6E0;
	text-align: center;
	margin-right: 10px;
    font-family: "Mircosoft Yahei";
	font-size: 12px;	
	display: inline-block;
	color: #fff;
}
.tabs .yellow{
	background-color: #EE3E21;
}
.tab li a{
	color: #545454;
}
/* 排行榜 */
.seniority{
	font-size: 12px;
	color: #535353;
	line-height: 40px;
	height: 42px;
}
.seniority a{
	color: #535353;
}
.seniority span{
	padding-right: 18px;
	height: 50px;
}

.ykAd_50{
	height: 50px;
}
.ykAd_50 img{
	height: 50px;
	width: 310px;
}
.tabAd{
	position: relative;
	overflow: hidden;
	height: 110px;
}
.tabBox{
	position: absolute;
	left: 0;
	top: 0;
	width: 930px;
}
.tabBox li{
	float: left;
	width: 310px;
}
.ad_prev,
.ad_next{
	width: 67px;
	height: 110px;
	position: absolute;
	top: 0;
	z-index: 3;
}
.ad_prev{
	left: 0;
}
.ad_next{
	right: 0;
}
.ad_prev a{
	width: 67px;
	height: 110px;
	background: url(../images/icon/left_tab.png) left top no-repeat;
	display: block;
}
.ad_prev a:hover{
	background: url(../images/icon/left_tab_h.png) left top no-repeat;
}
.ad_next a{
	width: 67px;
	height: 110px;
	background: url(../images/icon/right_tab.png) right top no-repeat;
	display: block;
}
.ad_next a:hover{
	background: url(../images/icon/right_tab_h.png) right top no-repeat;
}









/* 广告部分 */
.ykAd_310_110{
	width: 310px;
	height: 110px;
	margin-bottom: 20px;
}
.ykAd_310_110 img{
	width: 310px;
	height: 110px;
	display: block;
}
.videoCont{
	width: 310px;
	height: 220px;
}
.videoBar{
	height: 20px;
	background: #878787;
	line-height: 20px;
	padding: 0 6px;
}
.video_link{
	float: left;
	color: #fff;
}
.video_more{
	float: right;
	color: #fff;
}
/* 内容里面通用的标题 */
.userCent_tit{
	font-family: "Mircosoft Yahei";
	font-size: 26px;
	color: #8F8F8F;
	height: 30px;
	line-height: 30px;
	margin-right: 19px;
	font-weight: normal;
}
.title_tab{
	font-family: "Mircosoft Yahei";
	font-size: 14px;
	color: #535353;
}
.title_tab li{
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
.title_tab li a{
	color: #535335;
}
.title_tab li a:hover{
	background: #930;
}
.title_tab .active{
	background: #05A6E0;
}
.title_tab .active a{
	color: #fff;
}
/* 为我推荐 */
.userList{
	padding-top: 20px;
	display: none;
}
.userLeft{
	font-family: "Mircosoft Yahei";
	font-size: 14px;
	width: 880px;
	line-height: 20px;
	_margin-right: -20px;
}
.userLeft li{
	width: 200px;
	float: left;
	padding-right: 20px;
}
.userMore{
	width: 40px;
	height: 110px;
	padding: 80px 25px 0 25px;
	background: #f5f5f5;
	font-family: "Mircosoft Yahei";
	font-size: 18px;
	text-align: center;
	color: #605353;
}
.userMore:hover{
	color: #39F; 
}
.title_tab_b{
	line-height: 30px;
	height: 30px;
	font-size: 20px;
}
















/* 通用的样式 */
.comWidth{
	width: 970px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.hr_19{
	height: 19px;
	overflow: hidden;
}
.hr_20{
	height: 20px;
	overflow: hidden;
}
.hr_50{
	height: 50px;
	overflow: hidden;
}
.font14{
	font-size: 14px;
}
.show{
	display: block;
}
.pt{
	padding-top: 20px;
}
.mb{
	margin-bottom: 20px;
}
.mb10{
	margin-bottom: 10px;
}